.sticky_top button{
    background: #273e77;
    color:white;
    border:0;
    font-weight: 700;
}
.sticky_top button:nth-child(odd){
    background: #1b2c56;
    color:white;
    border:0;
}


.sticky_top button:hover{
    background: #121f46;
    color:white;
    border:0;
}