.products-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

@media only screen and (max-width: 600px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-box {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  aspect-ratio: 1 / 1.2;
  background-color: white;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product-box:hover {
  background-color: white;
  transform: translateY(-5px);
}

.product-box img {
  max-width: 80%;
  height: auto;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column-reverse;
}

.product-details h3 {
  font-size: 1.2em;
  margin: 5px 0;
  font-weight: bold;
}

.price-box {
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.price-box p {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.price-box button {
  border: none;
  background: none;
  cursor: pointer;
}

.price-box button img {
  width: 24px;
  height: 24px;
}

