.search-container {
      display: flex;
      align-items: center;
      height: 100%;
      width:100%;
}

.search-input {
  width: 100%;
}


.navbar {
    height:8em;
}

.col-md-4 .nav-item.nav-link.text-decoration-none {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Το παρακάτω κανόνας εξασφαλίζει ότι το τελευταίο στοιχείο δεν θα έχει δεξιά απόσταση */
.col-md-4 .nav-item.nav-link.text-decoration-none:last-child {
    margin-right: 0;
}


/* Στυλ όταν το ποντίκι περνά πάνω από τα στοιχεία "Home" και "Orders" */
.nav-item.nav-link.text-decoration-none:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Τρανσπαρέντ χρώμα φόντου κατά το hover */
}

/* Προσαρμογή στυλ για τα εικονίδια Wishlist, Profile και Cart */
.rotate-on-hover {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.container{
      display: flex;
      align-items: center;
      height: 10vh;
}

.popup {
    display: block;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    top: 100%; /* Απόσταση από το "Profile" icon */
    left: 89%;
    transform: translateX(-50%);
     max-width: 300px; /* Μέγιστο πλάτος του popup */
     width: 100%;
}

.popup p {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    margin-top: 5px;
}

.popup .login-button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: #4fe76e; /* Χρώμα για το Login button */
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.popup .login-button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: #4fe76e; /* Χρώμα για το Login button */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



.popup .login-button:hover {
    background-color: #26e54d;
}

.popup .register-button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: #eec92a; /* Χρώμα για το Register button */
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}



.popup .register-button:hover {
    background-color: #ffcb00;
}

.popup .login-button a {
    color: white; /* Χρώμα για το κείμενο του "Login" button */
}

.popup .register-button a {
    color: black; /* Χρώμα για το κείμενο του "Register" button */
}


.container{
      margin-top: 0px;
      margin-left: 0;
      height: 10vh;
}

.search-container{
      display: flex;
      width: 100%;
      align-items: center;
      height: 50%;
}

.popup p {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    margin-top: 5px;
}

.popup .cart-summary {
    padding: 10px;
}

.popup .cart-summary h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.popup .cart-summary .cart-items {
    list-style: none;
    padding: 0;
}

.popup .cart-summary .cart-items li {
    margin-bottom: 10px;
}

.popup .cart-summary .cart-items li:last-child {
    margin-bottom: 0;
}

.popup .cart-summary .cart-items .cart-item {
    display: flex;
    align-items: center;
}

.popup .cart-summary .cart-items .cart-item .item-image {
    margin-right: 10px;
}

.popup .cart-summary .cart-items .cart-item .item-image img {
    width: 50px; /* Προσαρμογή μεγέθους εικόνας */
    height: 50px; /* Προσαρμογή μεγέθους εικόνας */
    border-radius: 5px; /* Στρογγυλεμένες γωνίες */
}

.popup .cart-summary .cart-total {
    margin-top: 10px;
}

.popup .cart-summary .cart-total p {
    font-size: 18px;
    font-weight: bold;
}

.popup .cart-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.popup .cart-buttons .checkout-button,
.popup .cart-buttons .continue-shopping-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup .cart-buttons .checkout-button {
    background-color: #4fe76e; /* Χρώμα για το Checkout button */
    color: white;
}

.popup .cart-buttons .continue-shopping-button {
    background-color: #eec92a; /* Χρώμα για το Continue Shopping button */
    color: black;
}

.popup .cart-buttons .checkout-button:hover {
    background-color: #26e54d;
}

.popup .cart-buttons .continue-shopping-button:hover {
    background-color: #ffcb00;
}
